<div class="section-padd " >
  <div class="container-body clearfix">
    <!-- project title -->
    <h2 class="title"><span>Teleflora</span></h2>
    <div class="white-space-10"></div>


    <!-- project preview -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/theme/img/portfolio/email1.jpg" alt="Responsive Emails" class="img-full">
          <div class="carousel-caption">
            Responsive Email
          </div>
        </div>
        <div class="item">
          <img src="assets/theme/img/portfolio/email2.png" alt="Design View" class="img-full">
          <div class="carousel-caption">
            Preview of XSL in Browser
          </div>
        </div>
        <div class="item">
          <img src="assets/theme/img/portfolio/email3.png" alt="Code View" class="img-full">
          <div class="carousel-caption">
            XSL Template
          </div>
        </div>
        <div class="item">
          <img src="assets/theme/img/portfolio/email4.png" alt="Code View" class="img-full">
          <div class="carousel-caption">
            Excel Data Sheet
          </div>
        </div>
        <div class="item">
          <img src="assets/theme/img/portfolio/email5.png" alt="Code View" class="img-full">
          <div class="carousel-caption">
            XML
          </div>
        </div>
        <div class="item">
          <img src="assets/theme/img/portfolio/email6.png" alt="Code View" class="img-full">
          <div class="carousel-caption">
            VBA for Excel
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="white-space-30"></div>

    
    <!-- project descriptions -->
    <ul id="myTabs" class="nav nav-tabs flat-nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab1" id="tab-1" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Project</a></li>
      <li role="presentation"><a href="#tab2" role="tab" id="tab-2" data-toggle="tab" aria-controls="profile">Details</a></li>
      <li role="tech"><a href="#tab3" role="tab" id="tab-3" data-toggle="tab" aria-controls="profile">Tech</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledBy="home-tab">
        <div class="flat-tab-content">
          <p>Email marketing is as big today as it's ever been. Any large successful e-commerce business has a robust email marketing plan to not only market and sell their products, but to create a recurring revenue stream. Putting in place such a program requires the right technology, the right resources, and the right partners. Without all of this, any email marketing campaign will slowly die off and fail.</p>
          <p>Teleflora's email marketing program was a large and complicated one. It required a lot of time and resources which created an ongoing challenge, especially during peak holidays like Valentine's Day, Mother's Day and Christmas. The amount of emails that were being sent out was becoming untenable and a better, scalable and sustainable process needed to be implemented.</p>
          <p>The Email Auto-generator was the solution.</p>
		</div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledBy="profile-tab">
        <div class="flat-tab-content">
		  <h5>task: <b>Responsive HTML/CSS Email</b></h5>
          <p>Coded the HTML/CSS for a responsive email.
			  <ul>
				<li> A dozen variations of the email template</li>
				<li> Tested on all major email clients and online email providers (desktop, tablet, & mobile)</li>
				<li> Extensive use of Litmus and ReturnPath for QA</li>
			  </ul>
		  </p>
		  <h5>task: <b>Excel Link Sheet</b></h5>
          <p>The business needed a simple way to provide all the copy, links, promotion codes, etc. to the developer. An Excel Macro was coded to make it as intuitive as possible for the business making it as easy as possible to provide the required content for the appropriate email template.</p>
		  <h5>task: <b>Pre-populate Data</b></h5>
          <p>To improve efficiency and reduce errors, data was pulled directly from the website as opposed to having the business type everything into the link sheet. This feature met the requirement and had the added benefit of ensuring that the email content was always up-to-date.</p>
		  <h5>task: <b>Preview & Customization Feature</b></h5>
          <p>The business needed a way to preview the email before it was uploaded to the email testing service. The feature no only provided this preview feature, but with a few clicks here and there, allowed the business to completely change any part of the email to see if it made more sense. If the preview looked good, it was then sent to the developer to QA.</p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab3" aria-labelledBy="home-tab">
        <div class="flat-tab-content">
          <p>Technologies used for this project...
		  	<ul>
				<li> HTML/CSS</li>
				<li> XML/XSL</li>
				<li> JavaScript/jQuery</li>
				<li> PHP</li>
				<li> Excel VBA</li>
				<li> Windows Shell Script</li>
                <li>FTP</li>
			</ul>
		  </p>
		</div>
      </div>
    </div>

    <hr/>
    
    <p><a href="http://links.mkt2985.com/servlet/MailView?ms=MTU1OTk4MjMS1&r=MzA3OTY0NDc3MTI3S0&j=ODgwNTQyNDkyS0&mt=1&rt=0" target="_blank" class="btn btnc2 with-br"><span>View Sample <i class="fa fa-globe"></i></span></a> </p>
  </div>
</div>