<div class="section-padd " >
  <div class="container-body clearfix">
    <h2 class="title"><span>Technical Writing</span></h2>
    <div class="white-space-10"></div>
    <img src="assets/theme/img/portfolio/spec.png" alt="Technical Writing" class="img-full">
    <div class="white-space-30"></div>

    <ul id="myTabs" class="nav nav-tabs flat-nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab1" id="tab-1" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Project</a></li>
      <li role="presentation"><a href="#tab2" role="tab" id="tab-2" data-toggle="tab" aria-controls="profile">Details</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledBy="home-tab">
        <div class="flat-tab-content">
          <p>When a large, complex, multi-million dollar web site is revamped and relaunched under a strict deadline, inevitably there will be features and functionalities that will not make it into the final product, or will make it but not in their fully flushed out form. As is usually the case, once the new site is in full production and working as expected, those missing or not quite "perfect" features are revisited and work begins on their development.</p>
		  <p>I was on the team resposnsible for writing the specs for the development team for all new features, or improving existing ones.</p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab2" aria-labelledBy="profile-tab">
        <div class="flat-tab-content">
          <p>This particular spec was for the Quick Shop bar on the site. The existing Quick Bar feature was on the top nav bar which disappeared when the user scrolled the page. The new Quick Shop was going to live in a sticky footer bar.</p>
		  <p><strong>New Quick Shop Requirements</strong>
		  	<ul>
				<li> Stick Footer; Provide HTML</li>
				<li> Fully Responsive; Provide CSS</li>
				<li> Provide jQuery code where needed</li>
				<li> Identify where code cleanup is needed</li>
				<li> Fields & copy configurable through Oracel BCC</li>
			</ul>
		   </p>
        </div>
      </div>
    </div>

    <hr/>
    <p><a href="/assets/TFD-1206-Control-of-QuickShop-UI.docx" target="_blank" class="btn btnc2 with-br"><span>View Spec <i class="fa fa-file-word-o"></i></span></a> </p>
  </div>
</div>